In [39]:
import os
import psycopg2
import pandas as pd
import csv
import matplotlib
from datetime import datetime, timedelta
from IPython.core.display import HTML

%load_ext sql
%config SqlMagic.displaylimit = 5

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

This will create the connection to the database and prep the jupyter magic for SQL

In [41]:
connect_to_db = 'postgresql://' + \
                os.getenv('DB_USER', '') + ":" + os.getenv('DB_PASSWORD', '') +'@' + \
                os.getenv('DB_HOST', '') + ':' + os.getenv('DB_PORT', '5432') + '/' + os.getenv('DB_NAME', '');
    
%sql $connect_to_db

(psycopg2.OperationalError) could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://user5SJ:***@localhost:5591/lear'])

Simplest query to run to ensure our libraries are loaded and our DB connection is working

In [42]:
%%sql 
select now() AT TIME ZONE 'PST' as current_date

 * postgresql://user5SJ:***@localhost:5591/lear
1 rows affected.

[(datetime.datetime(2023, 5, 3, 9, 37, 42, 231930),)]

In [43]:
%%sql dye_durham_filing  <<

select
filing_type as Filing
,count(*)    as Count
from filings    f
    ,businesses b
where f.business_id=b.id
  and b.legal_type in ('CP','SP','GP') -- Benefit Companies will be included in the email from CPRD
  and filing_type <> 'lear_epoch'
  and to_char(filing_date at time zone 'America/Vancouver','yyyymm')=to_char(now() at time zone 'America/Vancouver'- interval '27 days','yyyymm')
  group by Filing
  order by filing

 * postgresql://user5SJ:***@localhost:5591/lear
10 rows affected.
Returning data to local variable dye_durham_filing

In [47]:
dye_durham = dye_durham_filing.DataFrame()
datestr = datetime.strftime(datetime.now()-timedelta(1), '%Y-%m-%d')
filename =  os.path.join(os.getcwd(), r'data/')+'Dye_and_Durham_' + datestr +'.csv'
with open(filename, 'w') as f:  
    if dye_durham.empty:
        f.write('No Data Retrieved for Dye and Durham filings ' + datestr)         
    else: 
        f.write('Coop, Sole Proprietorship, and General Partnership Filings for ' + datestr + ':\n')  
        dye_durham.to_csv(f, sep=',', encoding='utf-8', index=False) 
    f.write('\n\n')

In [48]:
%%sql dye_durham_total  <<

select
  'GRAND TOTAL' as Total
,count(*)
from filings    f
    ,businesses b
where f.business_id=b.id
  and b.legal_type in ('CP','SP','GP') -- Benefit Companies will be included in the email from CPRD
  and filing_type <> 'lear_epoch'
  and to_char(filing_date at time zone 'America/Vancouver','yyyymm')=to_char(now() at time zone 'America/Vancouver'- interval '27 days','yyyymm')

 * postgresql://user5SJ:***@localhost:5591/lear
1 rows affected.
Returning data to local variable dye_durham_total

In [49]:
dye_durham_total = dye_durham_total.DataFrame()

with open(filename, 'a') as f:  
    if dye_durham_total.empty:
        f.write('No Data Retrieved for Dye and Durham filings ' + datestr)         
    else: 
        dye_durham_total.to_csv(f, sep=',', encoding='utf-8', index=False) 
    f.write('\n\n')